html {
	background-color: #2a2a2a;
}
h1 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: normal;
}
h2 {
	color: #fff;
	font-size: 2.5rem;
	font-weight: large;
}
p {
	color: #fff;
}
span {
	color: #fff;
}
a {
	color: #fff;
	text-decoration: none;
}
ul {
	color: #fff;
}
li { 
	color: #fff;
	line-height: 2.5;
}
.result {
	font-size: 1.5rem;
	color: #5492e2;
}
.warning {
	border: 1px solid red;
	padding: 8px;
}
.sidebar {
	border: 1px solid #5492e2;
	padding: 8px;
	margin-bottom: 15px;
}
.information {
	text-align: center;
}
#page_name {
	text-align: right;
}