# File Extensions
*.pyc
*.swp

# Files
.DS_Store
flask-app/config.py
blf-app/.DS_Store
blf-app/blf_app/config.py

# Test files
blf-app/blf_app/test.py
blf-app/blf_app/test2.py
blf-app/blf_app/test3.py
