{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. Only use dummy data.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Food</th>
                <th>Calories</th>
                <th>Meal</th>
            </tr>

            {% for x in results%}

                <tr>
                    <td>{{ x[1] }}</td>
                    <td>{{ x[2] }}</td>
                    <td>{{ x[3] }}</td>
                </tr>
            
            {% endfor %}

        </table>
        Total calories consumed in past day: {{ totalcalories }} <br>
        
        Breakfast: {{ breakfast }} <br>
        
        Lunch: {{ lunch }} <br>
        
        Dinner: {{ dinner }} <br>
        
        Snacks: {{ snacks }} <br>
    </div>
</div>

{% include 'footer.html' %}