<html>

<head>
    <title>Be Less Fat</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

<div class="container">

<div class="row">
    <div class="col-12">
    <div class="navbar">
      <a href="#home">BLF</a>
      <div class="subnav">
        <button class="subnavbtn">About</button>
        <div class="subnav-content">
          <a href="https://github.com/danielpullan/Be-Less-Fat">GitHub</a>
          <a href="https://danielpullan.co.uk">Developer</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Me</button>
        <div class="subnav-content">
          <a href="/me">Me Profile Bono</a>
          <a href="/weight-history">Weight History</a>
          <a href="/food-history">Food History</a>
        </div>
      </div>
      <div class="subnav">
        <button class="subnavbtn">Track</button>
        <div class="subnav-content">
          <a href="/track-food">Food</a>
          <a href="/track-weight">Weight</a>
        </div>
      </div>
      {% if username == "Guest" %}
      <a href="/login">Login</a>
      {% endif %}
      {% if username != "Guest" %}
      <a href="/logout">Logout</a>
      {% endif %}
    </div>

            {% if username != "dan" %}
            <div class="warning">
                <p style="text-align: center;"><strong>Be-Less-Fat is NOT for under 18's, the elderly or pregnant women.</strong></p> 

                <p>Do not rely on Be-Less-Fat for actual medical, diet or exercise advice. Talk to medical professionals and people with relevant qualifications. Please don't input your actual data as Be-Less-Fat has not been audited. You wouldn't give your personal health data to an eejit like me, would you? <a href="https://learning.mozilla.org/en-US/activities/protect-your-data/">Learn how to protect your data.</a></p>
                <p>Logging in will remove this notice, by logging in, you agree not to use actual real data.</p>
            </div> 
            {% endif %}

    </div>
</div>