{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. Only use dummy data.</p>
    </div>
</div>

<div class="row">
    <p>Your name is {{ user }} and your weight is {{ weight }}.</p>
</div>


<table>
    <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Weight</th>
    </tr>
{% for x in results %}

<tr>
    <td>{{ x[0] }}</td>
    <td>{{ x[1] }}</td>
    <td>{{ x[2] }}</td>
    <td>{{ x[3] }}</td>
    <td>{{ x[4] }}</td>
</tr>

{% endfor %}

</table>

{% include 'footer.html' %}