{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. Only use dummy data.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Time (Unix)</th>
                <th>Weight</th>
            </tr>

            {% for x in results %}

                <tr>
                    <td>{{ x[1] }}</td>
                    <td>{{ x[2] }}</td>
                </tr>
            
            {% endfor %}

        </table>
    </div>
</div>

{% include 'footer.html' %}