{% include 'header.html' %}


<div class="row">
    <div class="col-12">
        <h2 class="homeTitle">Welcome {{username}}</h2>
    </div>
</div>

{% if username != "Guest" %}
<div class="row">
    <div class="col-3 homeBox">
        <p>{{ weight }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ height }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ bmi }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ status }}</p>
    </div>
</div>
{% endif %}


{% include 'footer.html' %}
