{% include 'header.html' %}


<div class="row">
    <div class="col-12">
        <h2 class="homeTitle">Welcome {{username|capitalize}}</h2>
    </div>
</div>

{% if username != "Guest" %}
<div class="row">
    <div class="col-12">
        <table>
            <tr>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>{{ weight }} kg</td>
                <td>{{ height }} m</td>
                <td>{{ bmi }}</td>
                <td>{{ status }}</td>

            </tr>


        </table>
    </div>
</div>
{% endif %}


{% include 'footer.html' %}
