{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>Be Less Fat</h1>
            {% if username != "Guest" %}
            <div class="topnav" id="myTopnav">
              <a href="/">Home</a>
              <a href="/me">Me</a>
              <a href="/track">Track</a>
              <a href="/history">History</a>
              <a href="/logout">Logout</a>
            </div>
            {% endif %}
            {% if username == "Guest" %}
            <div class="topnav" id="myTopnav">
              <a href="/login">Login</a>
            </div>
            {% endif %}

            {% if username != "dan" %}
            <div class="warning">
                <p style="text-align: center;"><strong>Be-Less-Fat is NOT for under 18's, the elderly or pregnant women.</strong></p> 

                <p>Do not rely on Be-Less-Fat for actual medical, diet or excercise advice. Talk to medical professionals and people with relevant qualifications. Please don't input your actual data as Be-Less-Fat has not been audited. You wouldn't give your personal health data to an eejit like me, would you? <a href="https://learning.mozilla.org/en-US/activities/protect-your-data/">Learn how to protect your data.</a></p>
            </div> 
            {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2 class="homeTitle">Welcome {{username}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-3 homeBox">
        <p>{{ weight }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ height }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ bmi }}</p>
    </div>
    <div class="col-3 homeBox">
        <p>{{ status }}</p>
    </div>
</div>


{% include 'footer.html' %}
