{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. Only use dummy data.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="POST">
              Username: <input type="text" name="username"><br>
              Password: <input type="password" name="password"><br>
              Pin: <input type="number" name="pin" pattern="[0-9]*" inputmode="numeric"><br>
              <input type="submit" value="Submit"><br>
          </form>
    </div>
</div>


{% include 'footer.html' %}