{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. You may only use dummy data.</p>

        <p>Be Less Fat (BLF) is not in a production ready state. It is not approved by any organisation (medical or otherwise) for medical, sport or dietary advice. Always follow the advice of a qualified professional.</p>

        <p>Data stored by Be Less Fat (BLF) is stored on hardware inside the United Kingdom. Please do not store any actual data as currently we're in a very early state. Data is not currently being properly secured. Dummy data not linked to any person living or otherwise should be fine and will be regularly wiped.</p>
    </div>
</div>

{% include 'footer.html' %}