{% include 'header.html' %}

<div class="row">
    <div class="col-12">
        <h1>{{ title }}</h1>
        <p>This is a work in progress. Please treat this as a test environment. Only use dummy data.</p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="POST">
              Food <input list="common-food" type="text" name="food"><br>
              Calories <input type="number" name="calories" pattern="[0-9]*" inputmode="numeric"><br>
              <input type="submit" value="Submit"><br>
          </form>

        <datalist id="common-food">
            <option value="Tea">
            <option value="Coffee">
            <option value="Apple Crumble">
            <option value="Custard">
            <option value="Cheeky Nandos">
        </datalist>

    </div>
</div>


{% include 'footer.html' %}