<html>

<head>
    <title>Be Less Fat</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Be Less Fat</h1>
                {% if username != "Guest" %}
                <div class="topnav" id="myTopnav">
                  <a href="/data-overview">Data Overview</a>
                  <a href="/submit-data">Submit Data</a>
                  <a href="/profile">Profile</a>
                  <a href="/bmi-calculator">BMI Calculator</a>
                  <a href="/logout">Logout</a>
                </div>
                {% endif %}
                {% if username == "Guest" %}
                <div class="topnav" id="myTopnav">
                  <a href="/login">Login</a>
                </div>

                {% endif %}

                <div class="warning">
                    <p style="text-align: center;"><strong>Be-Less-Fat is NOT for under 18's, the elderly or pregnant women.</strong></p> 

                    <p>Do not rely on Be-Less-Fat for actual medical, diet or excercise advice. Talk to medical professionals and people with relevant qualifications. Please don't input your actual data as Be-Less-Fat has not been audited. You wouldn't give your personal health data to an eejit like me, would you? <a href="https://learning.mozilla.org/en-US/activities/protect-your-data/">Learn how to protect your data.</a></p>
                </div> 
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <form method="POST">
                  Height: <input type="text" name="height"><br>
                  Weight: <input type="text" name="weight"><br>
                  Age: <input type="text" name="age"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>


    </div>
</div>






<script>
    console.log("Hi! Email dan@3264.uk");
</script>

</body>
</html>
