<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome</h1>
            <p>This app is a work in progress of a program made in python to submit data to a database. The end goal will be to write further scripts to pull that data out and make it easy to print etc.</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/form-example">The example form</a></li>
                <li><a href="/form-success">The success form</a></li>
            </ul>
        </div>

    <div class="row">
        <div class="col-12">
            <form method="POST">
                  Username: <input type="text" name="username"><br>
                  Password: <input type="password" name="password"><br>
                  Pin: <input type="password" name="pin"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>


    </div>
</div>






<script>
    console.log("Hi! Email dan@3264.uk");
</script>

</body>
</html>
