<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>I'm Sorry Dave, I can't let you do that</h1>
            <img class="img-responsive" src="https://vignette.wikia.nocookie.net/2001/images/a/a5/EE46A295-E2F9-4619-ABF4-E5BE0D31C0E3.jpeg/revision/latest?cb=20190114052106">
        </div>
    </div>
</div>






<script>
    console.log("Hi! Email dan@3264.uk");
</script>

</body>
</html>
